body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('Img/hatchico 2.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding-bottom: 40px;
    text-align: center;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="radio"].meal {
    display: none;
}
input[type="radio"].meal + label{
    border: 1px dashed darkgray;
    border-radius: 5px;
    padding: 5px;
    color: darkgray;
    display: none;
}
input[type="radio"].meal:checked + label{
    border: 1px solid #007BFF;
    color: #007BFF;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#date {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#nameSelect {
    width: 50%;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

#modalSubmit {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

#modalSubmit:hover {
    background-color: #0056b3;
}

#pointsCounter {
    margin: 10px 30px;
    font-size: 16px;
    font-weight: bold;
}

.arrow-down {
    position: absolute; /* Positionne l'image en position absolue */
    bottom: 10px; /* Place l'image 10px depuis le bas de la div */
    left: 50%; /* Centre l'image horizontalement */
    transform: translateX(-50%); /* Ajuste l'image pour qu'elle soit parfaitement centrée */
    width: 30px; /* Taille de l'image, à ajuster selon vos besoins */
    height: auto; /* Maintient le rapport d'aspect de l'image */
}

